
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    
    function getUserData(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data;
    }
    
    function isNotBlocked() {
      return isSignedIn() && getUserData(request.auth.uid).isBlocked == false;
    }
    
    function isAdmin() {
      return isSignedIn() && getUserData(request.auth.uid).role == 'admin';
    }

    match /users/{userId} {
      allow get, list: if isSignedIn();
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow update: if (isSignedIn() && request.auth.uid == userId && request.resource.data.role == resource.data.role) || isAdmin();
      allow delete: if false;
    }

    match /documents/{docId} {
      // Allow read for all authenticated users who are not blocked
      allow read: if isNotBlocked();
      
      // Allow write (create, update, delete) only for users with role == 'admin'
      allow create, update, delete: if isAdmin();
    }
  }
}
